<!DOCTYPE html>
<html class="h-100">
    <head>
        <title>Crear mapa</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% load widget_tweaks %}
        <script>
            {% comment %} Si en un selector se selecciona un punto, ese punto no debe aparecer en el otro {% endcomment %}
            $(document).ready(function() {
                function updateSelectors() {
                    var selectedPoint1 = $('#id_point1').val();
                    var selectedPoint2 = $('#id_point2').val();
            
                    $('#id_point2 option').each(function() {
                        if ($(this).val() == selectedPoint1) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        }
                    });
            
                    $('#id_point1 option').each(function() {
                        if ($(this).val() == selectedPoint2) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        }
                    });
                }
            
                $('#id_point1').change(updateSelectors);
                $('#id_point2').change(updateSelectors);
            
                // Initial update to handle pre-selected values
                updateSelectors();
            });
    
            function handleFormSubmit(event) {
                event.preventDefault();
                const form = event.target;
                const formData = new FormData(form);
    
                fetch(form.action, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Camino guardado satisfactoriamente!');
                        window.location.href = 'http://127.0.0.1:8000/create_edge';  // Redirigir a la página de creación de aristas
                    } else {
                        alert('Fallo en guardar el camino: ' + JSON.stringify(data.errors));
                    }
                })
                .catch(error => {
                    alert('Ocurrió un error: ' + error);
                });
            }
    
            function handleDelete(event, edgeId) {
                console.log(edgeId)
                event.preventDefault();
                if (confirm('Quieres eliminar este camino?')) {
                    fetch(`/delete_edge/${edgeId}/`, {
                        method: 'GET',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            alert('Camino eliminado satisfactoriamente!');
                            location.reload();  // Recargar la página para actualizar la lista de puntos
                        } else {
                            alert('Fallo en eliminar el camino.');
                        }
                    })
                    .catch(error => {
                        alert('Un error ocurrió: ' + error);
                    });
                }
            }

            async function getEdges() {
                const response = await fetch('/edges');
                const edges = await response.json();
                console.log(edges)
                return edges;
            }
            
            async function saveEdges() {
                const edges = await getEdges();
                const blob = new Blob([JSON.stringify(edges)], { type: 'application/json' });
                const url = URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'edges.json';
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);

                fetch(`/save_edges/`, {
                    method: 'GET',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                    }
                })
                .then(response => {
                    if (!response.ok) {
                        alert('Fallo guardar los caminos.');
                    }
                })
                .catch(error => {
                    alert('Ocurrió un error: ' + error);
                });
            }
            
            
        </script>
    </head>
    <body class="p-5">
        <div class="row">
            <div class="col-md-4 mr-5">
                <h1 class="mb-4">Guardar un camino</h1>
                <form method="post" action="{% if edge %}{% url 'edit_edge' edge.id %}{% else %}{% url 'create_edge' %}{% endif %}" onsubmit="handleFormSubmit(event)" class="mb-4 text-right">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_point1">Punto 1</label>
                        {{ form.point1|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="id_point2">Punto 2</label>
                        {{ form.point2|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="id_distance">Distancia</label>
                        {{ form.distance|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="id_characteristic_1">Característica 1</label>
                        {{ form.characteristic_1|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="id_characteristic_2">Característica 2</label>
                        {{ form.characteristic_2|add_class:"form-control" }}
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
            <div class="col-md-7 ml-5">
                <h1>Lista de caminos</h2>
                <ul class="list-group">
                    {% for edge in edges %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Arista: ({{ edge.point1.point_id }} - {{ edge.point2.point_id }}),  Distancia: {{ edge.distance }},  Características: {{ edge.characteristics }}
                            <span>
                                <a href="{% url 'edit_edge' edge.id %}" class="btn btn-secondary btn-sm">Editar</a>
                                <a href="#" onclick="handleDelete(event, {{ edge.id }})" class="btn btn-danger btn-sm">Eliminar</a>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="d-flex justify-content-between w-100">
                <button class="btn btn-danger" onclick="window.location.href='http://127.0.0.1:8000/'">Inicio</button>
                <button class="btn btn-success" onclick="saveEdges()">Descargar caminos</button>
            </div>            
        </div>
    </body>
</html>
    
