<!DOCTYPE html>
<html>
<head>
    <title>Crear mapa</title>
    <script>

        function handleFormSubmit(event) {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);

            fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Punto guardado satisfactoriamente!');
                    window.location.href = 'http://127.0.0.1:8000/create_point';  // Redirigir a la página de creación de puntos
                } else {
                    alert('Fallo en guardar el punto: ' + JSON.stringify(data.errors));
                }
            })
            .catch(error => {
                alert('Ocurrió un error: ' + error);
            });
        }

        function handleDelete(event, pointId) {
            event.preventDefault();
            if (confirm('Estás seguro de querer eliminar este punto?')) {
                fetch(`/delete_point/${pointId}/`, {
                    method: 'GET',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                    }
                })
                .then(response => {
                    if (response.ok) {
                        alert('Punto eliminado satisfactoriamente!');
                        location.reload();  // Recargar la página para actualizar la lista de puntos
                    } else {
                        alert('Fallo al eliminar el punto.');
                    }
                })
                .catch(error => {
                    alert('Ocurrió un error: ' + error);
                });
            }
        }

        async function getPoints() {
            const response = await fetch('/points');
            const points = await response.json();
            return points;
        }
        
        async function savePoints() {
            const points = await getPoints();
            const blob = new Blob([JSON.stringify(points)], { type: 'application/json' });
            const url = URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = 'points.json';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            
            fetch(`/save_points/`, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                }
            })
            .then(response => {
                if (!response.ok) {
                    alert('Fallo guardar los puntos.');
                }
            })
            .catch(error => {
                alert('Ocurrió un error: ' + error);
            });
        }
        
    </script>
    <!-- Incluir Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% load widget_tweaks %}
</head>
<body class="m-5">
    <div class="row">
        <div class="col-md-4 mr-5">
            <h1>Guardar un punto</h1>
            <p class="mb-4">Los valores de las características deben estar entre 0 y 1</p>
            <form method="post" action="{% if point %}{% url 'edit_point' point.id %}{% else %}{% url 'create_point' %}{% endif %}" onsubmit="handleFormSubmit(event)" class="mb-4 text-right">
                {% csrf_token %}
                <div class="form-group d-flex justify-content-end">
                    <label class="mr-3" for="id_point_id">ID Punto</label>
                    {{ form.point_id|add_class:"form-control w-50" }}
                </div>
                <div class="form-group d-flex justify-content-end">
                    <label class="mr-3" for="id_x">Coordenada X</label>
                    {{ form.x|add_class:"form-control w-50" }}
                </div>
                <div class="form-group d-flex justify-content-end">
                    <label class="mr-3" for="id_y">Coordenada Y</label>
                    {{ form.y|add_class:"form-control w-50" }}
                </div>
                <div class="form-group d-flex justify-content-end">
                    <label class="mr-3" for="id_height">Altura</label>
                    {{ form.height|add_class:"form-control w-50" }}
                </div>
                <div class="form-group d-flex justify-content-end">
                    <label class="mr-3" for="id_characteristic_1">Variedad de flora</label>
                    {{ form.characteristic_1|add_class:"form-control w-50" }}
                </div>
                <div class="form-group d-flex justify-content-end">
                    <label class="mr-3" for="id_characteristic_2">Variedad de fauna</label>
                    {{ form.characteristic_2|add_class:"form-control w-50" }}
                </div>
                <div class="form-group d-flex justify-content-end">
                    <label class="mr-3" for="id_characteristic_3">Sitios históricos</label>
                    {{ form.characteristic_3|add_class:"form-control w-50" }}
                </div>
                <div class="form-group d-flex justify-content-end">
                    <label class="mr-3" for="id_characteristic_4">Sitios con ríos</label>
                    {{ form.characteristic_4|add_class:"form-control w-50" }}
                </div>
                <div class="form-group d-flex justify-content-end">
                    <label class="mr-3" for="id_begin">Entrada</label>
                    {{ form.begin|add_class:"form-control w-50" }}
                </div>
                <div class="form-group d-flex justify-content-end">
                    <label class="mr-3" for="id_finish">Salida</label>
                    {{ form.finish|add_class:"form-control w-50" }}
                </div>
                <div class="form-group d-flex justify-content-end">
                    <label class="mr-3" for="id_interesting">Interesante</label>
                    {{ form.interesting|add_class:"form-control w-50" }}
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
        <div class="col-md-7 ml-5">
            <h2>Lista de puntos</h2>
            <ul class="list-group">
                {% for point in points %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Punto {{ point.point_id }}, ({{ point.x }} ; {{ point.y }}), altura: {{ point.height }}, características: {{ point.characteristics }}
                    {% if point.begin %}
                        <span class="badge bg-success text-light">Entrada</span>
                    {% elif point.finish %}
                        <span class="badge bg-danger text-light">Salida</span>
                    {% elif point.interesting %}
                        <span class="badge bg-primary text-light">Interesante</span>
                    {% endif %}
                    <span>
                        <a href="{% url 'edit_point' point.id %}" class="btn btn-secondary btn-sm">Edit</a>
                        <a href="#" onclick="handleDelete(event, {{ point.id }})" class="btn btn-danger btn-sm">Delete</a>
                    </span>
                </li>
                
                {% endfor %}
            </ul>
        </div>
        <div class="d-flex justify-content-between w-100">
            <button class="btn btn-danger" onclick="window.location.href='http://127.0.0.1:8000/'">Inicio</button>
            <button class="btn btn-success" onclick="savePoints()">Descargar puntos</button>
        </div> 
    </div>
</body>
</html>
