<!DOCTYPE html>
<html>
<head>
    <title>Página de Inicio</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4 text-center">Bienvenido al Planeador de excursiones</h1>
            <hr class="my-4">
            <button class="btn btn-primary btn-lg" onclick="location.href='{% url 'create_tourist' %}'">Crear Turistas</button>
            <button class="btn btn-primary btn-lg ml-3" onclick="location.href='{% url 'create_point' %}'">Crear Puntos</button>
            <button class="btn btn-primary btn-lg ml-3" onclick="location.href='{% url 'create_edge' %}'">Crear Caminos</button>
            <button class="btn btn-success btn-lg ml-3" onclick="location.href='{% url 'mostrar_markdown' %}'">Encuesta</button>
            <button class="btn btn-success btn-lg ml-3" onclick="location.href='{% url 'plan_route' %}'">Crear Ruta</button>
            <button class="btn btn-success btn-lg ml-3" onclick="location.href='{% url 'run_simulate' %}'">Ejecutar Simulación</button>
        <div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
