<!DOCTYPE html>
<html>
    <head>
        <title>Ruta planificada</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="container mt-5">
        <div class="d-flex">
            <h2 class="mr-3">Información de la ruta</h2>
        </div>
        <p class="mt-4" id="info">{{info}}</p>
        <button class="btn btn-danger" onclick="window.location.href='http://127.0.0.1:8000/'">Inicio</button>
    </body>
</html>
